<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Арендовать</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta name="_csrf" th:content="${_csrf.token}"/>
</head>
<body>

<div th:insert="fragments/header::header"></div>

<div class="container">

    <a style="color: red; font-size: 32px;" href="/rent/create">Создать предложение</a>

    <h1 style="margin-bottom: 20px;">Список предложений:</h1>

    <div class="row mb-2">
        <div class="col-md-6" th:each="rent: ${rents}">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <span>
                        <strong class="d-inline-block mb-2 text-primary">Аренда</strong>,
                        <strong class="d-inline-block mb-2 text-success" th:text="${rent.authorName}"></strong>
                        <strong style="float: right; font-size: 24px; color: gold;" th:text="${rent.price + '₽'}"></strong>
                    </span>

                    <div>
                        <span class="mb-1 text-primary" th:text="${rent.street}"></span>,
                        <span class="mb-1 text-success" th:text="${rent.rentType}"></span>,
                        <span class="mb-1 text-muted" th:text="${rent.houseType}"></span>
                    </div>
                    <h3 class="mb-0" th:text="${rent.title}">Featured post</h3>
                    <p class="card-text mb-auto" th:text="${rent.description}">Описание...</p>
                    <a th:href="${'/rent/' + rent.id}" class="stretched-link">Узнать больше</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>