<div th:fragment="header" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Главная</a></li>
            <li><a th:href="@{/rent}" class="nav-link px-2 link-dark">Арендовать</a></li>
            <li><a th:href="@{/about}" class="nav-link px-2 link-dark">О нас</a></li>
        </ul>

        <div sec:authorize="isAuthenticated()">
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="https://www.kaindl.com/fileadmin/_processed_/d/8/csm_2162_PE_Dekorbild_0ec3e17e00.jpg" alt="P" class="rounded-circle" width="32" height="32">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" th:href="${'/profile/' + #authentication.getPrincipal().id}">Профиль</a></li>
                    <li><a class="dropdown-item" th:href="@{/notifications}">Уведомления</a></li>
                    <li><a class="dropdown-item" th:href="@{/tenants}">Ваши арендаторы</a></li>
                    <li><a class="dropdown-item" th:href="@{/landlords}">Арендуемое</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="dropdown-item" value="Выйти"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}" class="btn btn-outline-primary me-2">Войти</a>
            <a th:href="@{/registration}" class="btn btn-primary">Регистрация</a>
        </div>

</div>
</header>
</div>
